* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    background-color: #f5f9fb;
    font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Helvetica",
        "Arial", "sans-serif";
}
