.navElements {
    list-style: none;
    display: inline;
    font-size: large;
    font-weight: 600;
}

.navContainer {
    padding: 12px 20px 12px 12px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    /* box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.205);     */
}

.navFloat {
    list-style: none;
    float: right;
    font-size: large;
    font-weight: 600;
}

.navli {
    margin-left: 40px;
}

.hamburger {
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}
.hamburger:hover {
    background-color: #edf3f7;
}
